"""
This file is a template for the .env file.

Please copy this file to .env and fill in the values.

For more information about configuration options, please refer to the documentation

"""

# Global configs:
MAX_RETRY=10
RETRY_WAIT_SECONDS=20

# LLM API Setting:
OPENAI_API_KEY=<your_api_key>
CHAT_MODEL=gpt-4-turbo
CHAT_MAX_TOKENS=3000
CHAT_TEMPERATURE=0.7

EMBEDDING_MODEL=text-embedding-3-small

# Cache Setting (Optional):

# Senario Configs:
